@import "tailwindcss";
@import "./fonts.css";
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Pirata+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --pirata: "Pirata One", system-ui;
  --sans: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --serif: Besley, Baskerville, Georgia, Cambria, "Times New Roman", Times,
    serif;
  --mono: "Space Mono", SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

body {
  font-family: var(--mono);
}

#title {
  font-family: var(--pirata) !important;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@layer utilities {
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }
}
